<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2009 Red Hat, Inc.
 *
 * Red Hat licenses this file to you under the Apache License, version 2.0
 * (the "License"); you may not use this file except in compliance with the
 * License.  You may obtain a copy of the License at:
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations
 * under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean id="org.jboss.netty.internal.ResourceFactory"
        class="org.jboss.netty.container.spring.NettyResourceFactory"
        scope="singleton" />

  <bean id="org.jboss.netty.internal.ChannelFactoryExecutor"
        factory-bean="org.jboss.netty.internal.ResourceFactory"
        factory-method="getChannelFactoryExecutor"
        scope="singleton" />

  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.nio.NioClientSocketChannelFactory"
        class="org.jboss.netty.channel.socket.nio.NioClientSocketChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>

  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.nio.NioServerSocketChannelFactory"
        class="org.jboss.netty.channel.socket.nio.NioServerSocketChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.nio.NioDatagramChannelFactory"
        class="org.jboss.netty.channel.socket.nio.NioDatagramChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.oio.OioClientSocketChannelFactory"
        class="org.jboss.netty.channel.socket.oio.OioClientSocketChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>

  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.oio.OioServerSocketChannelFactory"
        class="org.jboss.netty.channel.socket.oio.OioServerSocketChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.oio.OioDatagramChannelFactory"
        class="org.jboss.netty.channel.socket.oio.OioDatagramChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.local.DefaultLocalClientChannelFactory"
        class="org.jboss.netty.channel.local.DefaultLocalClientChannelFactory">
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.local.DefaultLocalServerChannelFactory"
        class="org.jboss.netty.channel.local.DefaultLocalServerChannelFactory">
  </bean>
  
  <alias name="org.jboss.netty.channel.socket.nio.NioClientSocketChannelFactory"
         alias="org.jboss.netty.channel.socket.ClientSocketChannelFactory" />
  <alias name="org.jboss.netty.channel.socket.nio.NioServerSocketChannelFactory"
         alias="org.jboss.netty.channel.socket.ServerSocketChannelFactory" />
  <alias name="org.jboss.netty.channel.socket.oio.OioDatagramChannelFactory"
         alias="org.jboss.netty.channel.socket.DatagramChannelFactory" />
  <alias name="org.jboss.netty.channel.local.DefaultLocalClientChannelFactory"
         alias="org.jboss.netty.channel.local.LocalClientChannelFactory" />
  <alias name="org.jboss.netty.channel.local.DefaultLocalServerChannelFactory"
         alias="org.jboss.netty.channel.local.LocalServerChannelFactory" />
</beans>
