<?xml version="1.0" encoding="UTF-8"?>
<!--
 * JBoss, Home of Professional Open Source
 *
 * Copyright 2009, Red Hat Middleware LLC, and individual contributors
 * by the @author tags. See the COPYRIGHT.txt in the distribution for a
 * full listing of individual contributors.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean id="org.jboss.netty.internal.ResourceFactory"
        class="org.jboss.netty.container.spring.NettyResourceFactory"
        scope="singleton" />

  <bean id="org.jboss.netty.internal.ChannelFactoryExecutor"
        factory-bean="org.jboss.netty.internal.ResourceFactory"
        factory-method="getChannelFactoryExecutor"
        scope="singleton" />

  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.nio.NioClientSocketChannelFactory"
        class="org.jboss.netty.channel.socket.nio.NioClientSocketChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>

  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.nio.NioServerSocketChannelFactory"
        class="org.jboss.netty.channel.socket.nio.NioServerSocketChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.nio.NioDatagramChannelFactory"
        class="org.jboss.netty.channel.socket.nio.NioDatagramChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.oio.OioClientSocketChannelFactory"
        class="org.jboss.netty.channel.socket.oio.OioClientSocketChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>

  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.oio.OioServerSocketChannelFactory"
        class="org.jboss.netty.channel.socket.oio.OioServerSocketChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.socket.oio.OioDatagramChannelFactory"
        class="org.jboss.netty.channel.socket.oio.OioDatagramChannelFactory">
    <constructor-arg ref="org.jboss.netty.internal.ChannelFactoryExecutor"/>
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.local.DefaultLocalClientChannelFactory"
        class="org.jboss.netty.channel.local.DefaultLocalClientChannelFactory">
  </bean>
  
  <bean lazy-init="true" scope="singleton"
        name="org.jboss.netty.channel.local.DefaultLocalServerChannelFactory"
        class="org.jboss.netty.channel.local.DefaultLocalServerChannelFactory">
  </bean>
  
  <alias name="org.jboss.netty.channel.socket.nio.NioClientSocketChannelFactory"
         alias="org.jboss.netty.channel.socket.ClientSocketChannelFactory" />
  <alias name="org.jboss.netty.channel.socket.nio.NioServerSocketChannelFactory"
         alias="org.jboss.netty.channel.socket.ServerSocketChannelFactory" />
  <alias name="org.jboss.netty.channel.socket.oio.OioDatagramChannelFactory"
         alias="org.jboss.netty.channel.socket.DatagramChannelFactory" />
  <alias name="org.jboss.netty.channel.local.DefaultLocalClientChannelFactory"
         alias="org.jboss.netty.channel.local.LocalClientChannelFactory" />
  <alias name="org.jboss.netty.channel.local.DefaultLocalServerChannelFactory"
         alias="org.jboss.netty.channel.local.LocalServerChannelFactory" />
</beans>
