services:
  runtime-setup:
    image: netty:default
    build:
      context: .
      dockerfile: Dockerfile.ubi9

  common: &common
    image: netty:default
    depends_on: [runtime-setup]
    environment:
      - GPG_KEYNAME
      - GPG_PASSPHRASE
      - GPG_PRIVATE_KEY
      - MAVEN_OPTS
    volumes:
      - ~/.ssh:/root/.ssh
      - ~/.gnupg:/root/.gnupg
      - ~/.m2:/root/.m2
      - ..:/code
    working_dir: /code
    security_opt:
      - seccomp:unconfined

  build-leak:
    <<: *common
    command: /bin/bash -cl "./mvnw -B -ntp -Pboringssl,leak clean install -Dio.netty5.testsuite.badHost=netty.io"

  build:
    <<: *common
    command: '/bin/bash -cl "
      ./mvnw -B -ntp clean install -Pboringssl -Dio.netty5.testsuite.badHost=netty.io &&
      cd testsuite-shading &&
      ../mvnw -B -ntp integration-test -Pboringssl failsafe:verify
    "'

  deploy:
    <<: *common
    command: /bin/bash -cl "./mvnw -B -ntp clean deploy -DskipTests=true"

  stage-snapshot:
    <<: *common
    volumes:
      - ~/.ssh:/root/.ssh
      - ~/.gnupg:/root/.gnupg
      - ~/.m2:/root/.m2
      - ~/local-staging:/root/local-staging
      - ..:/code
    command: /bin/bash -cl "./mvnw -B -ntp clean package org.sonatype.plugins:nexus-staging-maven-plugin:deploy -DaltStagingDirectory=/root/local-staging -DskipRemoteStaging=true -DskipTests=true"

  stage-release:
    <<: *common
    volumes:
      - ~/.ssh:/root/.ssh
      - ~/.m2:/root/.m2
      - ~/local-staging:/root/local-staging
      - ..:/code
    command: /bin/bash -cl "cat <(echo -e \"${GPG_PRIVATE_KEY}\") | gpg --batch --import && ./mvnw -B -ntp clean javadoc:jar package gpg:sign org.sonatype.plugins:nexus-staging-maven-plugin:deploy -DnexusUrl=https://oss.sonatype.org -DserverId=sonatype-nexus-staging -DaltStagingDirectory=/root/local-staging -DskipRemoteStaging=true -DskipTests=true -Dgpg.passphrase=${GPG_PASSPHRASE} -Dgpg.keyname=${GPG_KEYNAME}"

  build-unsafe-buffer:
    <<: *common
    command: /bin/bash -cl "./mvnw -Pboringssl,unsafeBuffer clean install -Dio.netty5.testsuite.badHost=netty.io -Dxml.skip=true"

  build-leak-adaptive:
    <<: *common
    command: /bin/bash -cl "./mvnw -B -ntp -Pboringssl,leak clean install -Dio.netty5.testsuite.badHost=netty.io -Dxml.skip=true -Dio.netty5.allocator.type=adaptive"

  build-boringssl-snapshot:
    <<: *common
    command: /bin/bash -cl "./mvnw -B -ntp -pl handler -Pboringssl-snapshot clean package -Dxml.skip=true -Dtcnative.classifier=linux-x86_64"

  shell:
    <<: *common
    entrypoint: /bin/bash
