version: "3"

services:

  runtime-setup:
    image: netty:centos-7-1.11
    build:
      args:
        java_version : "11.0.26-zulu"

  build:
    image: netty:centos-7-1.11

  build-leak:
    image: netty:centos-7-1.11

  build-boringssl-static:
    image: netty:centos-7-1.11

  build-leak-boringssl-static:
    image: netty:centos-7-1.11

  build-leak-pooled:
    image: netty:centos-7-1.11

  build-boringssl-snapshot:
    image: netty:centos-7-1.11

  shell:
    image: netty:centos-7-1.11

  stage-snapshot:
    image: netty:centos-7-1.11

  stage-release:
    image: netty:centos-7-1.11
