* {
  font-family: "Lucida Grande", Geneva, Verdana, "Liberation Sans", Helvetica, Arial, sans-serif;
}

body {
  background-color: #FFFFFF;
  color:#000000;
  font-size: 10pt;
}

a:link {color:#0066cc;}
a:visited {color:#6699cc;}

td { vertical-align: top; }

/* Headings */
h1 { font-size: 145% }

/* Table colors */
.TableHeadingColor     { background: #CCCCFF; color:#000000 } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF; color:#000000 } /* Light mauve */
.TableRowColor         { background: #FFFFFF; color:#000000 } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; color:#000000 }
.FrameHeadingFont { font-size:  90%; color:#000000 }
.FrameItemFont    { font-size:  90%; color:#000000 }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#EEEEFF; color:#000000} /* Light mauve */
.NavBarCell1Rev { background-color:#00008B; color:#FFFFFF} /* Dark Blue */
.NavBarFont1    { color:#000000;color:#000000;}
.NavBarFont1Rev { color:#FFFFFF;color:#FFFFFF;}

.NavBarCell2    { background-color:#FFFFFF; color:#000000}
.NavBarCell3    { background-color:#FFFFFF; color:#000000}
