<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>$project.name - Redirecting...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=${outputEncoding}" />
    <meta http-equiv="Refresh" content="0;URL=$project.url" />
  </head>
  <body>
    <a href="$project.url">Please click here if not redirected automatically.</a>
  </body>
</html>


