name: Deploy project

on:
  push:
    branches: [ main ]

  schedule:
    - cron: '30 7 * * 1'  # At 07:30 on Monday, every Monday.

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  MAVEN_OPTS: -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=240

jobs:
  stage-snapshot-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - setup: linux-x86_64
            docker-compose-build: "-f docker/docker-compose.centos-6.yaml -f docker/docker-compose.centos-6.18.yaml build"
            docker-compose-run: "-f docker/docker-compose.centos-6.yaml -f docker/docker-compose.centos-6.18.yaml run stage-snapshot"
          - setup: linux-aarch64
            docker-compose-build: "-f docker/docker-compose.centos-7.yaml build"
            docker-compose-run: "-f docker/docker-compose.centos-7.yaml run cross-compile-aarch64-stage-snapshot"

    name: stage-snapshot-${{ matrix.setup }}
    steps:
      - uses: actions/checkout@v2

      # Caching of maven dependencies
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: stage-snapshot-${{ matrix.setup }}-maven-cache-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            stage-snapshot-${{ matrix.setup }}-maven-cache-

      - uses: s4u/maven-settings-action@v2.2.0
        with:
          servers: |
            [{
              "id": "sonatype-nexus-staging",
              "username": "${{ secrets.SONATYPE_USERNAME }}",
              "password": "${{ secrets.SONATYPE_PASSWORD }}"
            }]

      # Enable caching of Docker layers
      - uses: satackey/action-docker-layer-caching@v0.0.11
        env:
          docker-cache-name: staging-${{ matrix.setup }}-cache-docker
        continue-on-error: true
        with:
          key: ${{ runner.os }}-staging-${{ env.docker-cache-name }}-{hash}
          restore-keys: |
            ${{ runner.os }}-staging-${{ env.docker-cache-name }}-

      - name: Create local staging directory
        run: mkdir -p ~/local-staging

      - name: Build docker image
        run: docker-compose ${{ matrix.docker-compose-build }}

      - name: Stage snapshots to local staging directory
        run: docker-compose ${{ matrix.docker-compose-run }}

      - name: Upload local staging directory
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.setup }}-local-staging
          path: ~/local-staging
          if-no-files-found: error

  stage-snapshot-windows-x86_64:
    runs-on: windows-2016
    name: stage-snapshot-windows-x86_64
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: x86_64-pc-windows-msvc
          override: true

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Configuring Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x86_amd64

      - name: Install tools
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install ninja nasm

      # Caching of maven dependencies
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: stage-snapshot-windows-x86_64-maven-cache-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            stage-snapshot-windows-x86_64-maven-cache-

      - uses: s4u/maven-settings-action@v2.2.0
        with:
          servers: |
            [{
              "id": "sonatype-nexus-staging",
              "username": "${{ secrets.SONATYPE_USERNAME }}",
              "password": "${{ secrets.SONATYPE_PASSWORD }}"
            }]

      - name: Stage snapshots to local staging directory
        run: mvn --file pom.xml clean package org.sonatype.plugins:nexus-staging-maven-plugin:deploy -DaltStagingDirectory=local-staging -DskipRemoteStaging=true -DskipTests=true

      - name: Upload local staging directory
        uses: actions/upload-artifact@v2
        with:
          name: windows-x86_64-local-staging
          path: local-staging
          if-no-files-found: error

  deploy-staged-snapshots:
    runs-on: ubuntu-18.04
    # Wait until we have staged everything
    needs: [stage-snapshot-linux, stage-snapshot-windows-x86_64]
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8

      # Caching of maven dependencies
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: deploy-staged-snapshots-maven-cache-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            deploy-staged-snapshots-maven-cache-

      # Setup some env to re-use later.
      - name: Prepare enviroment variables
        run: |
          echo "LOCAL_STAGING_DIR=$HOME/local-staging" >> $GITHUB_ENV

      # Hardcode the staging artifacts that need to be downloaded.
      # These must match the matrix setups and windows build. There is currently no way to pull this out of the config.
      - name: Download windows_x86_64 staging directory
        uses: actions/download-artifact@v2
        with:
          name: windows-x86_64-local-staging
          path: ~/windows-x86_64-local-staging

      - name: Download linux-aarch64 staging directory
        uses: actions/download-artifact@v2
        with:
          name: linux-aarch64-local-staging
          path: ~/linux-aarch64-local-staging

      - name: Download linux-x86_64 staging directory
        uses: actions/download-artifact@v2
        with:
          name: linux-x86_64-local-staging
          path: ~/linux-x86_64-local-staging

      - name: Merge staging repositories
        run: bash ./.github/scripts/merge_local_staging.sh ~/local-staging ~/windows-x86_64-local-staging ~/linux-aarch64-local-staging ~/linux-x86_64-local-staging

      - uses: s4u/maven-settings-action@v2.2.0
        with:
          servers: |
            [{
              "id": "sonatype-nexus-snapshots",
              "username": "${{ secrets.SONATYPE_USERNAME }}",
              "password": "${{ secrets.SONATYPE_PASSWORD }}"
            }]

      - name: Deploy local staged artifacts
        run: ./mvnw -B --file pom.xml org.sonatype.plugins:nexus-staging-maven-plugin:deploy-staged -DaltStagingDirectory=$LOCAL_STAGING_DIR
